@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "New Home View ";
}

<div class="text-center">
    <h1 class="display-4">New Home</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">creating new home and adding file </a>.</p>
    <ul>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NewHome" asp-action="ShowText">Respond with Text</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NewHome" asp-action="ShowJSON">Respond with JSON</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NewHome" asp-action="ShowHTML">Respond with HTML</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="NewHome" asp-action="ShowView">Respond with a view</a></li>
    </ul>
</div>
